Preparing the wiki documents for the queries with both models fasttext and word2vec

In [12]:
import fasttext
import pandas as pd
import numpy as np
import ast
from scipy.spatial.distance import cosine
import re

In [39]:
df_wikis=pd.read_csv("back_up/modified_data_wiki.csv")
df_wikis["html"]=df_wikis["html"].apply(lambda x: ast.literal_eval(x))
df_wikis["mean_vector"]=df_wikis["mean_vector"].apply(lambda x: ast.literal_eval(x))
df_wikis.head()

,address,html,hash_code,embedding_index,mean_vector
0,0.txt,"[chapman, lacrosse, reservation, reorder, hut,...",0.txt,"[1024699, 11407, 9457, 98887, 32122, 38612, 17...","[0.006763216, 0.021769172, 0.0070117326, 0.115..."
1,1.txt,"[hale, gale, pringle, karoun, control, feet, s...",1.txt,"[137597, 80005, 509, 1145, 726886, 1537228, 11...","[0.006228521, 0.02577385, 0.0097629195, 0.0876..."
2,2.txt,"[patriation, disasters, milestone, hart, elphi...",2.txt,"[734193, 10492, 6186, 170464, 19091, 1701433, ...","[0.015645692, 0.02687135, 0.0032806485, 0.0958..."
3,3.txt,"[able, eurasian, gledhill, krishnamoorthy, rai...",3.txt,"[346, 1799533, 5015, 170464, 35853, 38612, 137...","[0.015446341, 0.036536463, 0.009860179, 0.1136..."
4,4.txt,"[able, marketable, athlete, hoddle, fabio, mil...",4.txt,"[346, 28073, 5230, 6186, 7781, 10128, 170464, ...","[0.0050075427, 0.032835513, 0.012704998, 0.077..."

In [128]:
df_gensim=pd.read_csv("back_up/modified_data_wiki_gensim.csv")
df_gensim["html"]=df_gensim["html"].apply(lambda x: ast.literal_eval(x))
df_gensim["mean_vector"]=df_gensim["mean_vector"].apply(lambda x: ast.literal_eval(x))
df_gensim.head()

,address,html,hash_code,embedding_index,mean_vector
0,0.txt,"[land, spring, wrap, member, affect, game, lum...",0.txt,"[877, 1312, 7659, 536, 2220, 94, 671533, 11303...","[0.006763216, 0.021769166, 0.0070117326, 0.115..."
1,1.txt,"[levine, affiliation, тылаsakizayagagana, comp...",1.txt,"[12714, 21394, 14488, 660, 471518, 151024, 636...","[0.006228521, 0.025773851, 0.009762919, 0.0876..."
2,2.txt,"[subsequently, land, macqueen, member, affect,...",2.txt,"[6774, 877, 536, 2220, 541151, 94, 17528, 1115...","[0.015645692, 0.02687135, 0.0032806485, 0.0958..."
3,3.txt,"[subsequently, land, heine, spring, wrap, expl...",3.txt,"[6774, 877, 1312, 7659, 50604, 536, 2220, 94, ...","[0.01544634, 0.036536463, 0.009860179, 0.11360..."
4,4.txt,"[subsequently, land, member, affect, game, rig...",4.txt,"[6774, 877, 536, 2220, 94, 52509, 216, 14797, ...","[0.0050075427, 0.032835513, 0.012704999, 0.077..."

In [34]:
df_fasttext=pd.read_csv("back_up/modified_data_wiki_fasttext.csv")
df_fasttext["html"]=df_fasttext["html"].apply(lambda x: ast.literal_eval(x))
df_fasttext["mean_vector"]=df_fasttext["mean_vector"].apply(lambda x: ast.literal_eval(x))
df_fasttext.head()

,address,html,hash_code,embedding_index,mean_vector
0,141.txt,"[able, taste, canadian, concert, harpa, marvel...",141.txt,"[346, 4386, 169741, 2810, 26240, 17589, 7022, ...","[-0.004773563, 0.0052790744, -0.009924747, 0.0..."
1,142.txt,"[officeshowtimes, watchget, int, centralfestiv...",142.txt,"[77971, 1081, 313, 1917, 1967028, 711, 1618, 3...","[-0.01271556, 0.0061614485, -0.0076173763, 0.0..."
2,143.txt,"[worst, century, publisher, fire, man, world, ...",143.txt,"[1444, 3343, 5297, 544, 251, 157, 1221, 55119,...","[-0.009044452, 0.009303404, 0.00014058527, 0.0..."
3,144.txt,"[sliderargentinean, network, bikers, world, re...",144.txt,"[751, 23729, 157, 1315, 1185445, 1535, 568, 15...","[-0.004840087, -0.0033796125, -0.008667704, 0...."
4,145.txt,"[expand, options, spacewalk, service, suit, mo...",145.txt,"[1955, 1353, 22045, 277, 2457, 229349, 290335]","[-0.005614896, 0.011618202, 0.0014991375, 0.05..."

In [42]:
model1=fasttext.load_model("cc.en.300.bin")

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [101]:
#mean vector for the fasttext model
def mean_vecs(df):
    df["mean_vector"] = df["html"].apply(lambda x:
                                          list(np.mean(
                                              [model1.get_word_vector(w)
                                                         for w in x],
                                                           axis=0)))

In [47]:
mean_vecs(df_wikis)

In [48]:
#df_wikis.to_csv("back_up/modified_data_wiki_fasttext.csv",index=False)

In [122]:
#df_gensim.to_csv("back_up/modified_data_wiki_fasttext.csv")
df_gensim.head()

,address,html,hash_code,embedding_index,mean_vector
0,0.txt,"[land, spring, wrap, member, affect, game, lum...",0.txt,"[877, 1312, 7659, 536, 2220, 94, 671533, 11303...","[-0.0117921885, -0.005287877, -0.011796522, 0...."
1,1.txt,"[levine, affiliation, тылаsakizayagagana, comp...",1.txt,"[12714, 21394, 14488, 660, 471518, 151024, 636...","[-0.015830977, -0.0017190003, -0.0070710895, 0..."
2,2.txt,"[subsequently, land, macqueen, member, affect,...",2.txt,"[6774, 877, 536, 2220, 541151, 94, 17528, 1115...","[-0.010579195, -0.0015330779, -0.012458092, 0...."
3,3.txt,"[subsequently, land, heine, spring, wrap, expl...",3.txt,"[6774, 877, 1312, 7659, 50604, 536, 2220, 94, ...","[-0.013281911, -0.005396166, -0.008548999, 0.0..."
4,4.txt,"[subsequently, land, member, affect, game, rig...",4.txt,"[6774, 877, 536, 2220, 94, 52509, 216, 14797, ...","[-0.008912463, -0.0130499555, -0.0213696, 0.04..."

In [130]:
def clean_tokens(tokens):
    english_letters_pattern = re.compile(r'^[a-zA-Z]+$')
    english_tokens = [token for token in tokens if english_letters_pattern.match(token)]
    return english_tokens

In [134]:
df_fasttext.html=df_fasttext.html.apply(lambda x: clean_tokens(x))

In [136]:
mean_vecs(df_fasttext)

In [139]:
#df_fasttext.to_csv("back_up/modified_data_wiki_fasttext.csv",index=False)

In [104]:
# def search(query):
#     tokens=fasttext.tokenize(query)
#     mean=np.mean([model1.get_word_vector(w) for w in tokens],axis=0)
#     sims=[(1-cosine(mean,doc),i) for i in range(len(df_data)) for doc in df_data.mean_vector[i]]
#     return sorted(sims,reverse=True,key=lambda x: x[0])[0:10]

In [105]:
# search("United states of america")

[(0.03721371293067932, 13),
 (0.03721370920538902, 23),
 (0.03721370920538902, 71),
 (0.03721370920538902, 74),
 (0.03721370920538902, 75),
 (0.03721370920538902, 102),
 (0.037213705480098724, 1),
 (0.037213705480098724, 2),
 (0.037213705480098724, 4),
 (0.037213705480098724, 10)]

In [106]:
#df_data.to_csv("back_up/modified_data_wiki_fasttext.csv",index=False)

In [116]:
queries=pd.read_csv("back_up/queries_wiki_gensim.csv")
queries.head()

,document,query,mean_vec
0,https://en.wikipedia.org/wiki/United_States,world the united april states archived origina...,"[-0.050085448, -0.004345703, 0.00020751954, 0...."
1,https://en.wikipedia.org/wiki/Donald_Trump,april donald march michael november august oct...,"[-0.08433838, 0.030859375, -0.052067567, 0.211..."
2,https://en.wikipedia.org/wiki/Elizabeth_II,philip pimlott the september queen in archived...,"[-0.018115997, 0.02209282, -0.10110474, 0.1306..."
3,https://en.wikipedia.org/wiki/India,university june the february september may dec...,"[-0.03807678, 0.053092957, -0.024313355, 0.167..."
4,https://en.wikipedia.org/wiki/Cristiano_Ronaldo,february may ronaldo madrid march october arch...,"[-0.054336548, -0.019396972, -0.01795349, 0.25..."

In [93]:
bbc_df=pd.read_csv("back_up/modified_data_lemmetized.csv")
bbc_df["html"]=bbc_df["html"].apply(lambda x: ast.literal_eval(x))

In [102]:
mean_vecs(bbc_df)

In [105]:
bbc_df.to_csv("back_up/modified_data_bbc_fasttext.csv",index=False)